*{
    margin: 0;
    padding: 0;
}
.container{
   width: 1000px;
   height: auto;
   margin: auto;
   background-color:rgb(201, 190, 190);
   padding: 16px 20px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 7px;
}
.card{
    width: 220px;
    height: 356px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 4px 9px;
    border-radius:20px;
}
.card img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    object-position:center;
    padding: 4px 4px;
}
.name{
    font-weight: bold;
    font-size: 33px;
    padding: 4px 4px;
    color: #f17777;
    text-align:center;
}
.job{
    font-weight:lighter;
    font-size: 25px;
    padding: 4px 4px;
    color: #44640c;
    text-align:center;
}
.para{
    font-size: 15px;
    padding: 4px 4px;
    color: #44640c;
    text-align:center;
}
.card:hover{
   transform: scale(1.1);
   box-shadow: 15px 15px 10px rgb(88, 86, 86) ;
}
